[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy = "*"
flask-cors = "*"
flask-session = "*"
python-dotenv = "*"
dnspython = "*"
psycopg2 = "*"
pytest = "*"
typing = "*"
requests = "*"
pyodbc = "*"
pandas = "*"
flask-restful = "*"
flask-restx = "*"

[dev-packages]

[requires]
python_version = "3.8"
