:root {
  --gray-100: theme("colors.gray.100");
  --gray-200: theme("colors.gray.200");
  --gray-300: theme("colors.gray.300");
  --theme-200: theme("colors.violet.200");
  --theme-300: theme("colors.violet.300");
  --theme-400: theme("colors.violet.400");
  --theme-500: theme("colors.violet.500");
  --theme-600: theme("colors.violet.600");
}

html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
